<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <%- include('partials/headLinks')  %> 

</head>
<body>

    <%- include('partials/header')  %> 
    <main>
        <h1 class="title">PRODUCTOS DESTACADOS</h1>
        <section class="index-container">
            <article class="index-subcontainer">
                <article class="index-subcontainer_article">
                    <img class="index_img" src="https://snow-country.com/components/com_easyblog/themes/wireframe/images/placeholder-image.png" alt="">
                    <h4 class="index_h4" >$ 17.000</h4>
                    <p class="index_p">Envío gratis <i class="fa-solid fa-truck"></i> </p>
                    <h4>Product 1</h4>
                </article>
                <article class="index-subcontainer_article">
                    <img class="index_img" src="https://snow-country.com/components/com_easyblog/themes/wireframe/images/placeholder-image.png" alt="">
                    <h4 class="index_h4">$ 15.700</h4>
                    <p class="index_p">Envío gratis <i class="fa-solid fa-truck"></i> </p>
                    <h4>Product 2</h4>
                </article>
                <article class="index-subcontainer_article">
                    <img class="index_img" src="https://snow-country.com/components/com_easyblog/themes/wireframe/images/placeholder-image.png" alt="">
                    <h4 class="index_h4">$ 13.900</h4>
                    <p class="index_p">Envío gratis <i class="fa-solid fa-truck"></i> </p>
                    <h4>Product 3</h4>
                </article>
                <article class="index-subcontainer_article">
                    <img class="index_img" src="https://snow-country.com/components/com_easyblog/themes/wireframe/images/placeholder-image.png" alt="">
                    <h4 class="index_h4">$ 11.800</h4>
                    <p class="index_p">Envío gratis <i class="fa-solid fa-truck"></i> </p>
                    <h4>Product 4</h4>
                </article>
                <article class="index-subcontainer_article">
                    <img class="index_img" src="https://snow-country.com/components/com_easyblog/themes/wireframe/images/placeholder-image.png" alt="">
                    <h4 class="index_h4">$ 20.000</h4>
                    <p class="index_p">Envío gratis <i class="fa-solid fa-truck"></i> </p>
                    <h4>Product 5</h4>
                </article>
                <article class="index-subcontainer_article">
                    <img class="index_img" src="https://snow-country.com/components/com_easyblog/themes/wireframe/images/placeholder-image.png" alt="">
                    <h4 class="index_h4">$ 14.500</h4>
                    <p class="index_p">Envío gratis <i class="fa-solid fa-truck"></i> </p>
                    <h4>Product 6</h4>
                </article>
            </article>
        </section>
    </main>
    <%- include('partials/footer')  %> 

</body>
</html>