<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
    <%- include('partials/headLinks')  %> 

</head>
<body>

    <%- include('partials/header')  %> 
    <main>
        <h1 class="title">TU CARRITO</h1>
        <section class="card_container">
            <article class="card_subcontainer">
                <article class="card-subcontainer_product">
                    <article class="card-sub_product-1">
                        <h3>TOTAL (2 productos)</h3>
                        <h3 class="card_price">$17.998,00</h3>
                        <p>Los artículos en tu carrito no están reservados. Terminá el proceso de compra ahora para hacerte con ellos.</p>
                    </article>
                    <article class="card-sub_product-2">
                        <hr class="card_line">
                    </article>
                    <article class="card-sub_product-3">
                            <article class="card-sub_img">
                                <img class="card_img" src="https://snow-country.com/components/com_easyblog/themes/wireframe/images/placeholder-image.png" alt="">
                            </article>
                            <article class="card-sub_text">
                                <article>
                                    <h5>PRODUCTO 7</h5>
                                    <p>Lorem ipsum dolor sit amet.</p>
                                    <h3 class="card_price">$8.999,00</h3>    
                                </article>
                               <article>
                                    <label for="">Choose:</label>
                                    <select name="" id="">
                                      <option value="">1</option>
                                      <option value="">2</option>
                                      <option value="">3</option>
                                    </select>             
                                </article>
                            </article>
                            <article class="card-sub_button">
                                <button>               
                                     x<i class="fa-solid fa-xmark-large"></i>                        
                                </button>
                            </article>
                    </article>

                    <article class="card-sub_product-3">
                        <article class="card-sub_img">
                            <img class="card_img" src="https://snow-country.com/components/com_easyblog/themes/wireframe/images/placeholder-image.png" alt="">
                        </article>
                        <article class="card-sub_text">
                            <article>
                                <h5>PRODUCTO 8</h5>
                                <p>Lorem ipsum dolor sit amet.</p>
                                <h3 class="card_price">$8.999,00</h3>    
                            </article>
                           <article>
                                <label for="">Choose:</label>
                                <select name="" id="">
                                  <option value="">1</option>
                                  <option value="">2</option>
                                  <option value="">3</option>
                                </select>             
                            </article>
                        </article>
                        <article class="card-sub_button">
                            <button>               
                                 x<i class="fa-solid fa-xmark-large"></i>                        
                            </button>
                        </article>
                </article>

                </article>
                <article class="card-subcontainer_total">
                    <article class="card-sub_article-2">
                        <article>
                            <h3>RESUMEN DEL PEDIDO</h3>
                        </article>
                        <article class="card-sub_features">
                            <article class="card-sub-features_p">
                                <p>2 PRODUCTOS</p>
                                <p>$17.998,00</p>
                            </article>
                            <article class="card-sub-features_p">
                                <p>ENTREGA</p>
                                <p>599,00</p>
                            </article>
                            <article class="card-sub-features_p">
                                <h3>TOTAL</h3>
                                <h3>$17.998,00</h3>
                            </article>
                        </article>
                        <article class="card-sub-features_button">
                            <button class="feature_button">IR A PAGAR <i class="fa-solid fa-arrow-right"></i></button>
                        </article>
                    </article>
                </article>
            </article>
        </section>

        <h1 class="title">PRODUCTOS RELACIONADOS</h1>
        <section class="index-container">
            <article class="index-subcontainer">
                <article class="index-subcontainer_article">
                    <img class="index_img" src="https://snow-country.com/components/com_easyblog/themes/wireframe/images/placeholder-image.png" alt="">
                    <h4 class="index_h4" >$ 17.000</h4>
                    <p class="index_p">Envío gratis <i class="fa-solid fa-truck"></i> </p>
                    <h4>Product 1</h4>
                </article>
                <article class="index-subcontainer_article">
                    <img class="index_img" src="https://snow-country.com/components/com_easyblog/themes/wireframe/images/placeholder-image.png" alt="">
                    <h4 class="index_h4">$ 15.700</h4>
                    <p class="index_p">Envío gratis <i class="fa-solid fa-truck"></i> </p>
                    <h4>Product 2</h4>
                </article>
        
            </article>
        </section>

       
    </main>
    <%- include('partials/footer')  %> 

</body>
</html>