<header>

     <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <a href="/" class="enlace">
            <h1>Ecom</h1>
        </a>
        <ul>
            <li><a class="active" href="/">Inicio</a></li>
            <li><a class="active" href="/login">Login</a></li>
            <li><a class="active" href="/registro">Registro</a></li>
            <li><a class="active" href="/carrito">Carrito</a></li>
        </ul>
    </nav>


</header>